<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<h1>About Me</h1>

<h3>Riwayat Pendidikan</h3>
<table border="1" cellpadding="5">
    <tr>
        <th>Tahun</th>
        <th>Institusi</th>
    </tr>
    <tr>
        <td>2025 - Sekarang</td>
        <td>Teknik Informatika</td>
    </tr>
</table>

<h3>Riwayat Organisasi</h3>
<table border="1" cellpadding="5">
    <tr>
        <th>Tahun</th>
        <th>Organisasi</th>
    </tr>
    <tr>
        <td>2025</td>
        <td>Belum Menggikuti organisasi</td>
    </tr>
</table>


</body>
</html>