{% extends 'main/base.html' %}
{% block title %}About Me{% endblock %}

{% block content %}
<h1 class="mb-4">About Me</h1>

<h3>Riwayat Pendidikan</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tahun</th>
      <th>Institusi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2025 - Sekarang</td>
      <td>Teknik Informatika</td>
    </tr>
  </tbody>
</table>

<h3>Riwayat Organisasi</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Tahun</th>
      <th>Organisasi</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2025</td>
      <td>Belum mengikuti organisasi</td>
    </tr>
  </tbody>
</table>
{% endblock %}
